

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:hover{
    cursor: pointer;
}


.menu {
    height: 100vh;
    width: 300px;
    position: fixed;
    left: 0;
    background-color: white;
    box-shadow: -12px 0px 4px 14px rgba(0, 0, 0, 0.1);
    z-index: 2;
    transition: all .3s;
}
.hide {
    left: -300px;
}


.menu .logo {
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.menu .logo img {
    max-width: 107px;
    width: 100%;
    margin-left: 90px;

}
ul, li{
    display: block;
}
.menu .nav{
    padding: 100px 0 0 40px;
}
.menu .nav li{
    padding-bottom: 16px;
}

.menu .nav li a:hover{
    color: red;
}
.menu .nav a{
    font-family: 'Mortserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
    position: relative;
} 
.content {
    width: 100%;
    height: auto;
    float: left;
    padding-left: 300px;
    transition: all .3s;
}

.full-width{
    padding-left: 0;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/images/002.jpg');
    background-size: cover;
    display: flex;
    background-attachment: fixed;
}
.header__content {
    position: relative;
}
.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.header__content {
    height: 100%;
    width: 100%;
    /* width: 84.38%; */
    background-color: rgba(0, 0, 0, 0.6);
    /* margin-left: auto; */
}
.header__content::after {
    background-size: 25%;
}
.header__content::after {
    content: '';
    display: block;
    position: absolute;
    width: 95%;
    height: 98%;
    background-image: url('../assets/images/002.png');
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-position: bottom right;
}
.header__title {
    color: #fff;
    z-index: 1;
    max-width: 1270px;
    padding: 0 10px;
}
.header__title h1 {
    font-size: 100px;
}
.header__title h1 {
    position: relative;
}
h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /* font-size: 150px; */
}
.header__title h1::after {
    left: 8px;
    height: 7px;
}
.header__title h1::after {
    position: absolute;
    display: block;
    content: '';
    max-width: 350px;
    width: 100%;
    height: 12px;
    background-color: #fd7878;
    bottom: -10px;
    left: 13px;
}
.header__title h2 {
    font-size: 26px;
}
.header__title h2 {
    margin-left: 10px;
    padding: 35px 0 0 0;
}
h2 {
    font-weight: 500;
}
/*//////////////////////////////////*/
.about__title {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__title h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 185px;
    height: 3px;
    bottom: -155px;
    background-color: #fd7878;
    left: 53%;
}
.info__about__me {
    max-width: 1270px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
}
.info__about__me .info_photo {
    min-width: 320px;
    max-height: 407px;
    max-width: 320px;
    perspective: 2000px;
    overflow: hidden;
}
.info__about__me .info_photo img {
    width: 100%;
}
.text__about__me {
    padding-left: 50px;
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
.more_info_aboutMe {
    display: flex;
    padding-top: 70px;
}
.more_info_aboutMe li {
    display: flex;
    padding-bottom: 15px;
}
.more_info_aboutMe label {
    display: block;
    width: 113px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #000;
}
.more_info_aboutMe li p {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
}
.more_info_aboutMe ul:last-child {
    padding-left: 50px;
}
.more_info_aboutMe li a {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    transition: color .2s;
}
.more_info_aboutMe a:hover{
    color: red;
}
/*////*/
.btn__aboutMe {
    padding-top: 45px;
}
.btn__aboutMe a {
    color: #fff;
    background-color: #fd7878;
    padding: 15px 40px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    margin-right: 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-width: 182.77px;
    text-align: center;
}
/* .btn__aboutMe a::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #2C3742;
    content: '';
    top: 0;
    left: -100%;
    z-index: 1;
    transition: all .3s ease;
} */
/*/////////////*/
.myStoryAboutMe {
    padding: 0 50px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
}
.myStoryAboutMe .myStory {
    width: 320px;
}
.myStoryAboutMe .myStory h5 {
    padding-bottom: 30px;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 500;
}
.myStoryAboutMe .myStory p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 24px;
}
.myStoryAboutMe .mySkills {
    /* margin-left: 50px; */
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}
.myStoryAboutMe .mySkills h5 {
    padding-bottom: 30px;
}
.skill-title {
    display: flex;
}
.myStoryAboutMe .mySkills label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
    padding-bottom: 5px;
}
.myStoryAboutMe .mySkills label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
    padding-bottom: 5px;
}
.skill-bar-percent {
    margin-left: auto;
}
.myStoryAboutMe .mySkills label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
    padding-bottom: 5px;
}
.myStoryAboutMe .mySkills .skillbar {
    width: 100%;
    height: 6px;
    background-color: #c1c1c1;
    border-radius: 3px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
.myStoryAboutMe .mySkills .skill-bar {
    position: absolute;
    border-radius: 3px;
    height: 100%;
    background-color: #fd7878;
    animation-name: Skills;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.305, 1, 1.000, 0);
}
/*///////////////*/
.services__content {
    width: 100%;
    background-color: #f7f7f7;
}
.about__title {
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
.about__title h3 {
    position: relative;
}
h3 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}
.about__title h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 185px;
    height: 3px;
    background-color: #fd7878;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.about__title span {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 40px;
}
.about__title {
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
/*////////////////*/
.services_items {
    max-width: 1270px;
    width: 100%;
    padding: 100px 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service_iner {
    width: 32%;
    background-color: #fff;
    box-shadow: 0px 5px 9.5px 0.5px rgba(0, 0, 0, 0.2);
    padding: 30px;
    transition: all .2s;
    margin-bottom: 25px;
    padding-bottom: 50px;
}
.service-title {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.service_iner .service_icon {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #fd7878;
    margin-right: 20px;
}
.service_iner .service_icon img {
    width: 20px;
    margin-top: 50%;
    transform: translateY(-50%);
    color: #fd7878;
}
.service_iner .service_icon {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #fd7878;
    margin-right: 20px;
}
.service-title span {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.service-subTitle p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #444;
    font-weight: 400;
    line-height: 1.5;
}
/*/////*/
.counter__content {
    width: 100%;
    background-image: url('../assets/images/004.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    position: relative;
}
.counter__content::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.counter {
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 10px 100px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter .bl {
    text-align: center;
    width: 25%;
    color: #fff;
    z-index: 1;
}
.counter .bl i {
    font-size: 30px;
    padding-bottom: 15px;
}
/* .fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Pro";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.counter .bl i {
    font-size: 30px;
    padding-bottom: 15px;
} */
.fa-users:before {
    content: "\f0c0";
}
.counter .bl h4 {
    padding-bottom: 2px;
}
h4 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
/*///////////*/
.works__content {
    width: 100%;
}
.about__title {
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
.about__title h3 {
    position: relative;
}
h3 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}
.about__title h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 185px;
    height: 3px;
    background-color: #fd7878;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.about__title span {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 40px;
}
/*///////*/
.work_nav {
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 10px 10px 10px;
}
.work_nav ul {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.work_nav .active {
    /* font-weight: 700; */
    background-color: #fd7878;
    color: #fff;
}
.work_nav .btn_work {
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 2px;
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
/*///////////////*/
.works__inner {
    max-width: 1270px;
    width: 100%;
    padding: 50px 35px 100px 35px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.work_item {
    position: relative;
}
.work_item {
    width: 33.33%;
    max-height: 300px;
    margin-bottom: 30px;
    padding: 0 15px;
    overflow: hidden;
}
.item_content {
    position: relative;
    overflow: hidden;
}
.item_content img {
    position: relative;
}
.item_content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.item-overlay:hover::before{
    opacity: 1;
    left: 0;
}
.item-overlay:hover::after{
    opacity: 1;
    right: 0;
}
.item-overlay::before {
    position: absolute;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: -50%;
    transition: all .5s;
    opacity: 0;
}
.item-overlay::after {
    position: absolute;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    right: -50%;
    transition: all .5s;
    opacity: 0;
}
.item_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item_content:hover .item_title h6{
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
}
.item_title h6 {
    font-size: 16px;
    color: #000;
    /* font-weight: 500; */
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    transform: translateY(-20px);
    opacity: 0;
    transition: all .5s;
}
/* h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 500;
} */
.item_content:hover .item_title a {
    opacity: 1;
    z-index: 9999;
    transform: translateY(-50px);
}
.item_title a {
    width: 40px;
    height: 40px;
    background-color: #fd7878;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: all .8s;
}
.item_title i {
    line-height: 40px;
    color: #fff;
    transition: all .8s;
}


/*/////////////////*/
.feedback_content {
    width: 100%;
    height: 80vh;
    background-image: url('../assets/images/132.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
.feedback_blur{
    width: 100%;
    height: 80vh;
    /* width: 84.38%; */
    background-color: rgba(0, 0, 0, 0.6);
    /* margin-left: auto; */

}
.feedback_content h3{
    color: white;
}
.d-block{
    padding: 170px 0;
    margin-bottom: 70px;
}
.radius{
    max-width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 30px;
}
/*///////////////*/
.contact_content {
    width: 100%;
    background: #F3F3F3;
}
.about__title h3 {
    position: relative;
}
h3 {
    font-size: 28px;
    font-weight: 500;
}
h3 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 36px;
    font-weight: 600; */
    text-transform: uppercase;
}
.about__title h3::before {
    width: 110px;
    bottom: -10px;
}
.about__title h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 110px;
    height: 3px;
    background-color: #fd7878;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.contact-title {
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 50px 0px 50px;
    text-align: right;
}
.contact-title span {
    font-size: 18px;
}
.contact-title span {
    /* font-size: 22px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
/*////////////*/
.contact__conte {
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 50px 100px 50px;
    display: flex;
    justify-content: space-between;
}
.info-contact {
    display: flex;
    flex-direction: column;
}
a {
    font-size: 15px;
}
.info-contact p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* font-size: 18px; */
    color: #000;
    padding-bottom: 8px;
}
.info-contact a:hover{
    color: red;
}
.info-contact a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    font-weight: 500;
    /* font-size: 16px; */
    color: #000;
    margin-bottom: 8px;
    transition: all .2s;
}
.contact-form {
    max-width: 900px;
    width: 100%;
    padding-bottom: 50px;
    padding-left: 50px;
}
.contact-form form {
    display: flex;
    flex-wrap: wrap;
}
.contact-form form input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px 0;
}
.contact-form form textarea {
    width: 100%;
    min-height: 200px;
    resize: vertical;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px 0;
}
.contact-form .form-name {
    width: 50%;
    padding: 0 10px;
}
.contact-form .form-email {
    width: 50%;
    padding: 0 0 0 10px;
}
.contact-form .form-textarea {
    width: 100%;
    padding: 0 0 0 10px;
    margin-top: 30px;
}
.contact-form .btn__send {
    margin-top: 60px;
}
.contact-form .btn__send button:hover{
    color: black;
}
.contact-form .btn__send button {
    color: #fff;
    background-color: #fd7878;
    padding: 15px 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-left: 0;
}
/* .contact-form .btn__send button::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #2C3742;
    content: '';
    top: 0;
    left: -100%;
    z-index: 1;
    transition: all .3s ease;
}
.contact-form .btn__send button span {
    z-index: 99999;
    position: relative;
} */
/*///////////////*/
.footer {
    width: 100%;
    padding: 50px 0;
    background-color: #2C3742;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.footer p {
    font-size: 13px;
}
#winError {
    background: #2C3742;
    color: white;
    display: none;
    padding: 5px 10px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
}
/*//////////////*/


.link_social_aboutMe {
    display: flex;
    padding-top: 15px;
}

.link_social_aboutMe a {
    width: 24px;
    height: 24px;
    display: block;
    background-color: #fd7878;
    margin-right: 15px;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    transition: all .2s;
}

.link_social_aboutMe a {
    width: 24px;
    height: 24px;
    display: block;
    background-color: #fd7878;
    margin-right: 15px;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    /* line-height: 24px; */
    transition: all .2s;
}   
/*/////*/
.close__menu {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
    top: 0;
    left: 100%;
    margin-left: -30px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}


/* .home{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #000;
    left: 100%;
    text-align: center;
    margin-left: -60px;
    margin-top: -40px;
}
.home i{
    color: #fff;
    font-size: 30px;
} */
.close__menu i {
    color: #fff;
    line-height: 30px;
    font-size: 12px;
    transition: all .3s;
    padding-left: 0px;
}

/*//////*/
.Menu_remove {
    margin-left: -300px;
}
    @media all and (min-width: 1024px){
        .info_photo{
       width: 40%!important
    }
    .text__about__me{
       width: 60%!important
    }
    .myStory{
        width: 40%!important;
        float: left;
        margin-right: 50px;
        
        
     }
.mySkills{
        width: 60%!important;
        float: left;
        
        
     }
     .down{
         width: 40% !important;
         float: left;
         margin-bottom: 30px;
     }
     .send{
         width: 40% !important;
         float: left;
     }
    }
    @media all and (max-width: 320px) {
        .info_photo {
           width: 100%!important
        }
        .text__about__me {
            width: 100%!important
         }
    .myStory{
            width: 100%!important;
            float: left;
            
         }
    .mySkills{
            width: 100%!important;
            float: left;
         }
         .aaa{
            width: 100%!important;
            float: left;
            
         }
         .btn__aboutMe{
            width: 100%!important;
            float: left;
         }
         .down{
            width: 100% !important;
            float: left;
        }
        .send{
            width: 100% !important;
            float: left;
        }
    
        }

        /* .close__menu__right:hover{
            color: #fd7878;
        } */
        .close__menu__right {
            margin-left: 0;
            background-color: #fd7878;



            
        }

        .move-top{
            position: fixed;
            width: 40px;
            height: 40px;
            background-color: #000;
            right: 50px;
            bottom: 50px;
            text-align: center;
        }
        .move-top i{
            color: #fff;
            font-size: 30px;
        }
        .size{
            padding: 100px 0 ;
        }
        ul{
            margin-bottom: 0!important;
        }
        
        
        